APP_NAME=

APP_VERSION=

ENVIRONMENT=

DEBUG=

HOST=

PORT=

SECRET_KEY=

ALGORITHM=

ACCESS_TOKEN_EXPIRE_MINUTES=

DATABASE_URL=

GROQ_API_KEY=
GROQ_MODEL=

STORAGE_DRIVER=

UPLOAD_DIRECTORY=

MAX_IMAGE_SIZE=

ALLOWED_IMAGE_EXTENSIONS=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=